<include file="Public:homeheader" title="{$SiteInfo.title}"/>
<!--头部结束-->
<div id="header" class="clearfix" style="position:relative;">
    <div class="back">
        <a title="返回" href="javascript:history.back();">
            <img src="__PUBLIC__/Mobile/images/back.jpg" alt="分类">
        </a>
    </div>
    <div class="cpaut">{$detail.title}</div>
    <div class="flbox"><img src="__PUBLIC__/Mobile/images/fl.jpg" alt="分类"></div>
</div>

<div class="xingxi clearfix">
    <p style="text-align:center;">{$detail.title}</p>
    <p class="author">{$detail.ctime|date='Y-m-d',###}</p>
    <div class="content_img">
        {$detail.content}
    </div>
</div>

<!--底部开始-->
<include file="Public:homefooter"/>
