<include file="Public/top" title="后台管理~"/>
<!-- start left -->
<include file="Public/left"/>
<!-- end left -->
<div class="row">
    <center><h1>程序信息</h1></center>
    <div class="col-lg-4">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-shield fa-4x"></i>
                <h1 class="m-xs">720map</h1>
                <h3 class="font-bold no-margins">
                    作者
                </h3>
                <small>720map</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    xxx
                </h2>
                <small>一个苦逼的码农</small>
            </div>
            <img src="__PUBLIC__/Uploads/default.png" class="img-circle circle-border m-b-md" alt="profile"
                 width="128px;">
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading"></h4>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget lazur-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-warning fa-4x"></i>
                <h1 class="m-xs">Blog</h1>
                <h3 class="font-bold no-margins">
                    程序
                </h3>
                <small>信息</small>
            </div>
        </div>
    </div>
</div>
<!-- start footer -->
<include file="Public/footer"/>
<!-- end footer -->
</div>
</div>

</div>

</div>
</body>
</html>
