<!-- 调用头部文件 -->
<include file="Public:homeheader" title="{$SiteInfo.title}"/>
<!--中间开始-->
<div class="main">
    <!-------------------------banner 开始-------------------------------->
    <div class="zy_banner"><img src="./Public/Uploads/images/news.jpg"  width="1004" height="310" /></div>
    <!-------------------------banner 结束-------------------------------->

    <div class="w1002">
        <div class="s-zytop">
            <ul class="clearfix">
                <li>当前位置：<a href='/'>主页</a> > <a href='#'>新闻资讯</a> > <a href="#">{$category}</a></li>
                <li class="s-gg">{$SiteInfo.brand}·{$SiteInfo.slogan}</li>
            </ul>
        </div>

        <div class="s-zycenter">
            <p class="s-btyw">NEWS</p>
            <p>新闻资讯</p>
        </div>
        <div class="zy-mume  clearfix">
            <ul>
                <foreach name="newsCategory" item="val">
                    <li>
                        <h2><a href="{:U('Category/index', array('cid' => $cid,'sid'=>$val['id']))}" class="new_item sid_{$val.id}" data-cid="{$val.id}">{$val.name}</a></h2>
                    </li>
                </foreach>
            </ul>
        </div>
        <div class="s-zyfoot">
            <div class="news-list zynews-list">
                <div class="list">
                    <div class="news-move">
                        <ul>
                            <foreach name="articleList" item="val">
                                <li class="class_{$val.fid}">
                                    <div class="s-newsbj">
                                        <div class="time">
                                            <p class="day">{$val.ctime|date="d",###}</p>
                                            <p>{$val.ctime|date="Y-m",###}</p>
                                        </div>
                                        <div class="intro">
                                            <h3>
                                                <a href="{:U('Category/news',array('cid' => $cid,'id'=>$val['id']))}" class="tit">{$val.title}</a>
                                            </h3>
                                            <a href="{:U('Category/news',array('cid' => $cid,'id'=>$val['id']))}">　　{$val.content|strip_tags|mb_substr=0,45,'utf-8'}...</a>
                                        </div>
                                    </div>
                                    <div class="s-dbyy"></div>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
                {$page}
                <div class="news-change"></div>
            </div>
        </div>
    </div>
</div>

<!--中间结束-->

<!-- 调用脚部文件 -->
<include file="Public:homefooter"/>

<script>
    var _current_sid = "{$sid}";
    $('.sid_' + _current_sid). addClass('zyhove');
/*    $('.new_item').on('click', function () {
        var _cid = $(this).data('cid');
        $('.news-move li').hide();
        $('.class_' + _cid).show();
    })*/
</script>