<!-- 调用头部文件 -->
<include file="Public:homeheader" title="{$SiteInfo.title}"/>
<div id="header" class="clearfix">
    <div id="logo"><a href="m.html"><img src="__PUBLIC__/Mobile/images/logo.png" alt=""></a></div>
    <div class="flbox"><img src="__PUBLIC__/Mobile/images/fl.jpg" alt="分类"></div>
</div>
<script type="text/javascript" language="javascript" src="__PUBLIC__/Mobile/js/banner.js"></script>
<div id="slideBox" class="slideBox">
    <div class="bd">
        <ul>
            <foreach name="slidesLists" item="val">
                <li><a class="pic"><img src="{$val.pic}" alt=""/></a> <a class="tit"></a></li>
            </foreach>
        </ul>
    </div>
    <div class="hd">
        <ul>
        </ul>
    </div>
</div>
<script type="text/javascript">

    TouchSlide({

        slideCell: "#slideBox",

        titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层

        mainCell: ".bd ul",

        effect: "leftLoop",

        autoPage: true,//自动分页

        autoPlay: true //自动播放

    });

</script>

<!--serch-->

<form role="search" action="{:U('Index/search', array('mobile'=>1))}" method="post">
    <div id="serchbox" class="clearfix">
        <input type="hidden" name="mobile" value="1"/>
        <input type="hidden" name="kwtype" value="0"/>
        <input class="indexl input" type="text" name="keywords">
        <input type="submit" class="sechan" value="&nbsp;" onClick="return checkForm();">
    </div>
</form>

<!--2级导航-->

<ul class="listmenu2 clearfix">
    <li>
        <a href="{:U('Category/index', array('cid'=>24))}">
            <img src="__PUBLIC__/Mobile/images/cp.png" alt="关于我们">
            <p>关于我们</p>
        </a>
    </li>
    <li>
        <a href="{:U('Category/index', array('cid'=>24,'sid'=>33))}">
            <img src="__PUBLIC__/Mobile/images/pp.png" alt="产业链条">
            <p>产业链条</p>
        </a>
    </li>
    <li>
        <a href="{:U('Category/index', array('cid'=>24,'sid'=>34))}">
            <img src="__PUBLIC__/Mobile/images/server.png" alt="发展历程">
            <p>发展历程</p>
        </a>
    </li>
    <li>
        <a href="{:U('Category/index', array('cid'=>22))}">
            <img src="__PUBLIC__/Mobile/images/news.png" alt="基地展示">
            <p>基地展示</p>
        </a>
    </li>
</ul>
<ul class="hotmenulit clearfix">
    <foreach name="productCategory" item="val">

        <li class="current">
            <a href="{:U('Category/index', array('mobile'=>1,'cid'=> 3, 'sid'=>$val['id']))}">
                <span><img src="__PUBLIC__/Mobile/images/cx.png" alt=""></span>
                <b>{$val.name}</b>
                <p>HOT PEODUCTS</p>
            </a>
        </li>
    </foreach>
</ul>

<!--产品展示-->

<div class="cpzs">
    <h3>水果专区</h3>
    <span class="more"><a href="{:U('Category/index', array('mobile'=>1, 'cid'=>3))}">MORE+</a> </span></div>
<ul class="cplist clearfix">
    <foreach name="products" item="val">
        <li>
            <a href="{:U('Category/product', array('mobile'=>1, 'id'=>$val['id']))}">
                <img src="{$val.pic}">
                <p class="title">{$val.title}</p>
                <span class="title bg"></span>
            </a>
        </li>
    </foreach>
</ul>

<!-- 调用脚部文件 -->
<include file="Public:homefooter"/>
